
  h1 {
    font-weight: 900;
  }

  h2 {
    font-weight: 600;
  }
  
  .page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    font-family: 'Oswald', sans-serif;;
  }
  
  .vis-container {
    width: 100%;
  }
  
  h1 {
    color: #23489d;
    font-family: 'Oswald', sans-serif;;
  }
  h2 {
    color: #2d9fc0;
    font-family: 'Oswald', sans-serif;;
  }
  
  .description-right {
    padding-left: 20px;
  }
  
  .description-left {
    padding-right: 20px;
  }
  
